{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Nosotros {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'core/img/Logo.ico' %}">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link href="{% static 'core/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet">

</head>
<body>
    <div class="BARRA">
        <a href="/">
            <img src="{% static 'core/img/Logo.png' %}" 
            width="200" 
            height="100" 
            alt="Logotipo">
        
        </a>
        <nav class="NAVEGACION">
            <a href="{% url 'nosotros' %}">Nosotros</a>
            <a href="{% url 'articulos' %}">Articulos</a>
            <a href="{% url 'contacto' %}">Contacto</a> 
        </nav>
    </div>

    <div class="seccion-inferior Contenedor">
        
        <section class="blog">
            <h3 class="centrar-texto ">Nuestro Blog</h3>
        
            <article class="entrada-blog">
                <div class="texto-entrada">
                    <center class="fondo_Nosotros">
                        <img src="{% static 'core/img/fondo_Nosotros.jpg' %}"  alt="Logotipo">
                    </center>
                    
                    <p id="p1"> <b>Aquí encontraras las mejores ofertas del Ecuador, de los mejores productos para Tecnologicos y justos a sus necesidades, en nuestra tienda tenemos los mejores productos, de la mejor calidad y al mejor precio.</b> </p> 
                    <br>
                    <p id="p2"> <b>Puedes hacer tu elección basado en diferentes factores, como lo pueden ser; Tamaño, Precio, Oferta, Capacidad, Marca, Etc.</b></p>
                </div> 
            </article>
        </section>
    
        <section class="reseñas">
          <h3 class="centrar-texto">Reseñas de clientes</h3>
          <div class="reseña">
            <center>
            <img class="estrellas" src="{% static 'core/img/5_estrellas.png' %}" style="width: 280px;" >
          </center>
              <blockquote >
                Realice la compra por Whatsapp de un ventilador para mi portatil, la atencion fue buena y el producto me llego en perfecto estado 10/10.Sin duda volveria por compras futuras.
              </blockquote>
              <p>- Patricio Cevallos</p>   
            </div>
        </section>
    </div>

    <footer class="site-footer seccion">
        <div class="Contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'articulos' %}">Articulos</a>
                <a href="{% url 'contacto' %}">Contacto</a> 
             </nav>
            <p class="copi">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>
</body>
</html>