html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/*Globales*/

img{
    max-width: 100%;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
p{
    font-size: 1.6rem;
}

.site-header.inicio{
    background-image: url(PortoVentas/core/static/core/img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.Contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
/*utilidades*/
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.d-block{
    display: block!important;
}
/*Botones*/
.boton{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
}

.boton-verde{
    background-color:#36ff04;

}

.boton-azul{
    background-color:rgb(28, 85, 151);
    color: #36ff04!important;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 85rem;
    line-height: 2;
}

.Barra{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: rgb(47, 47, 216);
}

/* Iconos Nosotros */

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.iconotamaño{
    width: 40px;
}
.icono{
    flex-basis: calc( 33.3% - 1rem);
    text-align: center;
}
/*Productos*/

.contenedor-productos{
    display: flex;
    justify-content: space-between;
}
.producto{
    flex-basis:calc(33.3% - 1rem);
    border-style: solid;
    border-color: rgb(42, 104, 175);
    border-width: 10px;
    background-color: rgb(42, 104, 175);
}
.contenedor-productos img{
    width: 400px;
    height: 400px;
}
.contenido-producto{
    padding: 2rem;
}
.contenido-producto h3{
    margin: 0;
}
.contenido-producto p{
    margin: 0;
    
}
.precio{
    color: #36ff04;
    font-weight: 700;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}
/* Contacto Home*/
.imagen-contacto{
    background-repeat: no-repeat;
    height: 40rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;

}
.contenido-contacto{
    flex: 1;
    color: #36ff04;
}
.contenido-contacto p{
    font-size: 1.8rem;
    color: #ffffff;
}
/*Seccion Inferior*/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog{
    flex-basis: 60%;
}
.seccion-inferior .reseñas{
    flex-basis:calc(40% - 2rem);
}
.texto-entrada p{
    line-height: 1.8;
    margin: 0;
    color: rgb(42, 104, 175);
}
 /*Reseña*/
 .reseña{
    background-color: #36ff04;
    font-size: 2rem;
    padding: 2rem;
    color: rgb(42, 104, 175);
    border-radius: 2rem;
    height: 560px;

 }
 .reseña p{
    text-align: right;
 }
 .reseña blockquote::before{
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -0.5rem;
 }
 .reseña blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
 }
 /*Footer*/
 .site-footer{
    background-color: rgb(42, 104, 175);
    margin-bottom: 0;
 }
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copi{
   margin: 0; 
   color:#ffffff;
}

.BARRA{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.NAVEGACION {
    text-align: center;
    margin-top: 4rem;
    margin-right: 4rem;
}
.NAVEGACION a{
    color: rgb(42, 104, 175);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.NAVEGACION a:hover{
    color: #36ff04;
}
.fondo_Nosotros{
    width: 85%;
    height: 85%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.entrada-blog{
    background-color: #36ff04;
    font-size: 2rem;
    padding: 2rem;
    color: rgb(42, 104, 175);
    border-radius: 2rem;
}
/*Articulos  Slider*/
.slider-frame {
	width: 600px;
    height: auto;
	margin:auto;
	overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*Articulos */
.ofertas h3{
    text-align: center;
    font-size: 5rem;
    color: rgb(42, 104, 175);
}
.ofertas{
    background-color:#36ff04; 
    width: auto;
    height: auto;
}
.NAVEGACION_ar {
    text-align: center;
    margin-top: 4rem;
    margin-right: 4rem;
}
.NAVEGACION_ar a{
    color: #36ff04;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.NAVEGACION_ar a:hover{
    color: rgb(42, 104, 175);
}
.CONTACTANOS {
    line-height: 3rem;   
}
.CONTACTANOS h2{
    font-size: medium;
    text-align: left;

}
.CONTACTANOS i{
    margin-right: 1rem;
}
.map iframe {
    width: 700px;
    height: 400px;
    margin-right: 4rem;
}
.BOTON {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
}
.SECCION-INFERIOR {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(70px);
}
